body{
   background-color:rgb(143, 122, 163);

}
h1{
    text-align: center;
   text-transform: uppercase;
}
p{
    text-align: center;
    font-style: italic;
    
}
.video{

    text-transform: capitalize;
    font-size: medium;
}

.music{
    text-transform: capitalize;

    
}